<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Email Template</title>
    </head>
    <body style="font-family: Arial, sans-serif; line-height: 1.6; background-color: #f2f2f2; margin: 0; padding: 0;">

        <table
            style="max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);"
        >
            <tr>
                <td align="center" style="padding-bottom: 20px;">
                    <img
                        src="https://6634bab2ac.imgdist.com/pub/bfra/fl5paef8/bgc/hcv/va7/ig.png"
                        alt="Logo"
                        style="max-width: 100%;"
                    />
                </td>
            </tr>
            <tr>
                <td style="padding: 20px;">
                    {{{content}}}
                </td>
            </tr>
            <tr>
                <td align="center" style="font-size: 12px; color: #666666; padding-top: 20px;">
                    &copy; 2024
                </td>
            </tr>
        </table>

    </body>
</html>